@tailwind base;
@tailwind components;
@tailwind utilities;
/* For most modern browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00bf63;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00a653;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #00bf63 #f1f1f1;
}

/* For Edge and IE */
.custom-scrollbar {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
